<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://www.impony.com/?page_id=759" version="0.135">
	<name>微博环卫工</name>
	<description>将新浪微博网页版杂乱的广告、活动、推介等灰尘全部扫走，还你一个清爽的阅读环境。
		注：仅适用于最新版的新浪微博。安装后访问新浪微博页面 http://weibo.com，登录后就能看到效果了。
		Change Log

		0.135
		修正“关系中心”、“个人页”等一些 BUG

		0.13
		1、将该插件改为自动执行；
		2、将插件起作用页面延伸到大部分页面
		3、优化并修正一些 BUG

		0.10
		在一些访问量较大的页面进行实验性的改动
	</description>
	<author href="http://impony.com" email="hi@impony.com">imPony</author>
	<license href="http://www.apache.org/licenses/LICENSE-2.0.html">
		Copyright 2012 imPony
		仅供个人研究 Opera 插件技术使用，请勿用作商业用途。
	</license>
	<icon src="icons/ico.png"/>
</widget>